# ==============================================================================
# Запрет индексации каталога assets/video поисковиками (Google, Yandex, Bing и др.)
# ==============================================================================

<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
</IfModule>

# Запрет отображения листинга каталога в браузере
Options -Indexes
